/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#menubar{
	-fx-font-size:20px;
	-fx-background-color:grey;
	-fx-text-fill:white;
}
.button{
	-fx-border-radius:20px;
	-fx-padding:10px 10px;
	-fx-background-color:grey;
	-fx-color:white;
	-fx-cursor:pointer;
	
}